
.pricing-container{
    h1{
        margin: rem(82) rem(165) rem(72) ;

        @include breakpoint-down(medium){
            margin: rem(75) auto rem(69);
        }
    }

    .pricing{
        padding: 0 rem(165);
        @extend %flex-sb;

        gap: rem(10);

        @include breakpoint-down(medium){
            padding: 0 rem(40);

        }

        @include breakpoint-down(tablet-small){
            flex-direction: column;
        }

        &__plan{

            @include breakpoint-down(medium){
                @extend %flex;
                text-align: center;
            }

            h4{
                margin-bottom: rem(80);
            }

            &>p{
                margin-bottom: rem(8);
            }

            h5{
                margin-bottom: rem(24);
            }

            .offers{
                margin-bottom: rem(24);
                border-top: 1px solid rgba(54, 83, 107, 0.255) ;
                border-bottom: 1px solid rgba(54, 83, 107, 0.255);
                padding:  rem(24) 0;
                @extend %flex-col;
                gap: rem(8);

                @include breakpoint-down(medium){
                    text-align: left;
                }

                .checked{
                    @extend %flex-al;
                    gap: rem(24);
                }

                .unchecked{
                    margin-left: rem(37);
                }

            }
        }
    }


}